In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
test_data=pd.read_csv('test.csv')

In [10]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [11]:
train_data=pd.read_csv('train.csv')

In [12]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
test_data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [15]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [16]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [17]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
#Droping the Unwanted Features from Dataset which is not useful from Train and Test Dataset
train=train_data.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
test=test_data.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)

In [21]:
train[['Age','Fare']].median()

Age     28.0000
Fare    14.4542
dtype: float64

In [25]:
test[['Age','Fare']].median()

Age     27.0000
Fare    14.4542
dtype: float64

In [26]:
#replacing null values with median value
train['Age'].fillna("28", inplace=True)
train['Fare'].fillna("14.4542", inplace=True)
test['Age'].fillna('27',inplace=True)
test['Fare'].fillna('14.4542',inplace=True)

In [31]:
#Dataset we have to check mode for Embarked
train['Embarked'].mode()

0    S
dtype: object

In [32]:
train['Embarked'].fillna("S", inplace=True)

In [33]:
#Data is ready for model now
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [34]:
#Data is ready for model now
test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [35]:
#ONE HOT ENCODING ON SEX  AND EMBARKED FOR BOTH TRAIN AND TEST DATA
train['Sex']=train['Sex'].apply({'male':0,'female':1}.get)
train['Embarked']=train['Embarked'].apply({'S':0,'Q':1, 'C':2}.get)
test['Sex']=test['Sex'].apply({'male':0,'female':1}.get)
test['Embarked']=test['Embarked'].apply({'S':0,'Q':1, 'C':2}.get)

In [36]:
x=train.drop(['Survived'],axis=1)
y=train['Survived']

In [37]:
from sklearn.ensemble import RandomForestClassifier
forest=RandomForestClassifier()

In [38]:
forest.fit(x,y)

RandomForestClassifier()

In [39]:
rfc_train_pred=forest.predict(x)

In [41]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y,rfc_train_pred)
ac=accuracy_score(y,rfc_train_pred)

In [42]:
cm

array([[542,   7],
       [ 11, 331]], dtype=int64)

ValueError: Found input variables with inconsistent numbers of samples: [418, 891]